@import "./app"

.content
	background: #1f4e5f
	background: linear-gradient(to bottom right, #1f4e5f, #79a8a9)
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column

.header
	margin-top: 50px
	position: relative
	left: 0
	right: 0

	.title
		text-align: center
		font-size: 32px
		text-shadow: 2px 2px #1f4e5f
		color: lighten(#1f4e5f, 50%)
