@import "./app"

$color: #353866

.content
	background: $color
	background: linear-gradient(to bottom right, $color, #AAABD3)
	background-position: fixed
	padding-bottom: 64px
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column

.header
	margin-top: 50px
	position: relative
	left: 0
	right: 0

.form
	display: flex

	.btn.save
		margin-right: 5px
		height: 100%
		position: relative
		bottom: -23px
		height: 38px
		min-width: 100px
		border-radius: 5px
		font-weight: bold
		background: $color
		color: lighten($color, 50%)
		border: 1px solid lighten($color, 50%)
		box-sizing: border-box
		transition: .3s ease-in-out

		&:hover
			background: darken($color, 10%)
			color: #fff
			box-shadow: 0px 1px 3px 0px $color

	.btn.cancel
		height: 38px
		min-width: 100px
		height: 100%
		position: relative
		bottom: -23px
		padding: 11px 15px
		border-radius: 5px
		font-weight: bold
		color: $color
		background: lighten($color, 70%)
		border: 1px solid $color
		transition: .3s ease-in-out

		&:hover
			background: lighten($color, 60%)
			box-shadow: 0px 1px 3px 0px $color



.input
	padding: 5px 0
	margin-left: 15px


.input-group
	display: flex
	flex-direction: column
	margin: 5px 15px

label.caption
	color: #fff
	text-transform: capitalize
	font-weight: bold

input.text,
select.text
	border-radius: 5px
	padding: 10px
	border: 1px solid #52616a
	transition: .3s ease-in-out
	background: #f9f9f9
	transition: .3s ease-in-out

	&:focus
		background: #fff
		box-shadow: 0px 0px 0px 1px #52616a

input:focus,
button:focus,
select:focus
	outline: none


